.mask-container {
    overflow: hidden;
}

.fade{
    opacity: 0;
    transform: scale(0.8);
    will-change: transform, opacity;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fade.active_animation {
    opacity: 1;
    transform: scale(1);
}
.fade_up {
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 1.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform, opacity;
}
.fade_up.active_animation {
    opacity: 1;
    transform: translateY(0);
}