*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
        position: relative;
        color: var(--text-color);
    overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select, hr {
    font: inherit;
    outline: none;
    border: none;
    text-transform: none;
    text-align: unset;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}
.nuxt-icon{
    margin: 0 !important;
}